
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title> {% block title %} GigForMusicians{%endblock %}</title>

  {# Bootstrap links#}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'gig/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'gig/css/navbar.css' %}">
  <script src="{% static 'gig/js/search_bar.js' %}"></script>


  {# Additional links for our css or js#}
  {% block link %}
  {% endblock %}
</head>
<body>

  {% block navbar %}

  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" id="navbar-container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-start" id="navbarResponsive">
      <a class="navbar-brand text-primary bold" href="{% url 'home' %}">GIG</a>
      <form action="{% url 'search' %}" class="form-navbar my-2 my-md-0 mr-md-auto ">
        {% csrf_token %}
		<div class="input-group">
			<input name="query" id="searchInput" class="form-navbar-input form-control" type="search" placeholder="Search" aria-label="Search">
			<div class="input-group-append">
				<button id="searchButton" class="form-navbar-btn btn btn-outline-primary" type="submit">Search</button>
			</div>
		</div>
		<div class="results-container">
			<ul id="resultsGroup" class="list-group" style="display:none;">
			</ul>
		</div>
	  </form>
      <ul class="navbar-nav mr-auto mt-2 mt-md-0 mr-md-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown my-auto" id="navbarDropdown">
          <a class="nav-link dropdown-toggle text-primary pl-2" href="" id="profile_first_name" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.first_name}}
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'users:follows-bands' %}">Follows</a>
            <a class="dropdown-item" href="{% url 'users:participate-events' %}">Participate</a>
            <a class="dropdown-item" href="{% url 'users:suggested-events' %}">Suggestions</a>
            <div class="dropdown-divider"></div>
            {% if user.owns_band %}
            <a class="dropdown-item" href="{% url 'events:create' %}">create event</a>
            <a class="dropdown-item" href="{% url 'musicians:band-register' %}">register another band</a>
            {% elif user.has_artist_profile%}
            <a class="dropdown-item" href="{% url 'musicians:band-register' %}">register a band</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'artists:register' %}">register an artist profile</a>
            {% endif %}
            <div class="dropdown-divider"></div>

            {% if user.has_artist_profile %}

            {% if user.bands%}
            {% for band in user.bands%}
            <a class="dropdown-item" href="{% url 'musicians:band-profile' profile_id=band.pk%}">{{band.name}}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item" href="{% url 'artists:artist-profile' profile_id=user.artistmodel.pk%}">{% if not user.artistmodel.stage_name or user.artistmodel.stage_name == " " %} Artist Profile {% else %} {{user.artistmodel.stage_name}} {% endif %}</a>
            <div class="dropdown-divider"></div>
            {% endif %}

            <a class="dropdown-item" href="{% url 'users:profile' %}">Manage Profiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
          </div>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link text-primary" href="{% url 'users:login' %}">Login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-primary" href="{% url 'users:signup' %}">signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>


  {% endblock %}

  {% block body %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  <script type="text/javascript">


  $(document).ready(function(){
    //set the intial Configuration to use search_bar.js
    searchConfig = {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      id_input: "searchInput",
      url_suggestions: "{% url 'search-suggestions' %}",
      id_search_group: "resultsGroup",
    }

    //activates suggestions for the search input field with id `id_search_input`
    activateSuggestions(function(suggestions){
      removeListGroup();
      addSuggestions(suggestions);
    });

  });
  </script>
</body>
</html>
