{% extends "gig/base.html" %}
{% load static %}
{% load cloudinary %}
{% load user_tags %}

{% block title %}
Gig For Musicians
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'gig/css/home.css' %}">
<script type="text/javascript" src="{% static 'util/weather_util.js' %}"> </script>
{% endblock %}

{% block body %}


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="contaier">
        <img class="d-block w-100" src="{% static "pics/arcticbg.jpg" %}" alt="First slide">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Artic Monkeys</h5>
        <p>Tranquility Base hotel casino </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static "pics/imaginebg.jpg" %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Imagine Dragons</h5>
        <p Evolve tour</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static "pics/thekooksbg.jpg" %}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>The kooks</h5>
          <p> Ooh la - reached 2 million likes </p>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  {% if user.is_authenticated %}

  {% if  not has_artistProfile %}
  <div class="jumbotron">

    <div class="row">
      <div class="col-12">
        <h1 class="display-4">
          Hi {{user.first_name}},
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="lead"> Are you an artist? Register your band.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="lead">
          <a class="btn btn-warning btn-lg" href="{% url 'artists:register' %}" role="button">Signup</a>
        </p>
      </div>
    </div>
  </div>
  {% endif %}

  {% else %}
  <div class="jumbotron">

    <div class="row">
      <div class="col-12">
        <h1 class="display-4">
          Hi stranger,
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="lead"><a class="btn btn-warning btn-md" href="{% url 'users:login' %}" role="button">Login</a> or <a class="btn btn-warning btn-md" href="{% url 'users:signup' %}" role="button">Sign up</a> to follow artist and be up to date with upcoming events.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="lead">

        </p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="container">

  <div class="upcoming-events-container">
    <h1>Upcoming events</h1>
    <hr class="style1 text-muted">
    {% if upcoming_events %}

    {% for event in upcoming_events %}
    <div class="card text-center" id='event_card_{{event.pk}}' long='{{event.longitude}}' lat='{{event.latitude}}'>
      <div class="card-header">
        <a href="{% url 'musicians:band-profile' profile_id=event.band.pk%}">{{event.band.name}}</a> live <a href="{% url 'events:profile' event_id=event.pk%}">@{{event.name}}</a> {{event.date | fancy_date}}
      </div>
      {% cloudinary event.picture.public_id width=300 height=150 crop="fill"%}
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{event.description}}</p>
        <p class="temp"></p>
        <p class="temp_max"></p>
        <p class="temp_min"></p>
        <p class="weahter_description"></p>
        <img class="weather_icon" src="" alt="">
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No upcoming events registered by bands</p>
    {% endif %}
  </div>

  {% if  user.is_authenticated%}

  <div class="follow-events-container">
    <h1>Events for musicians you follow</h1>
    <hr class="style1 text-muted">
    {% if  follow_band_events%}

    {% for event in follow_band_events %}
    <div class="card text-center" long='{{event.longitude}}' lat='{{event.latitude}}'>
      <div class="card-header">
        <a href="{% url 'musicians:band-profile' profile_id=event.band.pk%}">{{event.band.name}}</a> live <a href="{% url 'events:profile' event_id=event.pk%}">@{{event.name}}</a> {{event.date | fancy_date}}
      </div>
      {% cloudinary event.picture.public_id width=300 height=150 crop="fill"%}
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{event.description}}</p>
        <p class="temp"></p>
        <p class="temp_max"></p>
        <p class="temp_min"></p>
        <p class="weahter_description"></p>
        <img class="weather_icon" src="" alt="">
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No upcoming events for musicians you follow </p>
    {% endif %}





  </div>

  <div class="participate-events-container">
    <h1>Events you participate</h1>
    <hr class="style1 text-muted">
    {% if participate_events %}
    {% for event in participate_events %}
    <div class="card text-center" long='{{event.longitude}}' lat='{{event.latitude}}'>
      <div class="card-header">
        <a href="{% url 'musicians:band-profile' profile_id=event.band.pk%}">{{event.band.name}}</a> live <a href="{% url 'events:profile' event_id=event.pk%}">@{{event.name}}</a> {{event.date | fancy_date}}
      </div>
      {% cloudinary event.picture.public_id width=300 height=150 crop="fill"%}
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{event.description}}</p>
        <p class="temp"></p>
        <p class="temp_max"></p>
        <p class="temp_min"></p>
        <p class="weahter_description"></p>
        <img class="weather_icon" src="" alt="">
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You don't participate in any events</p>
    {% endif %}
  </div>


  <div class="might-like-events-container">
    <h1>Events you might like</h1>
    {% if might_like_events %}
    {% for event in might_like_events %}
    <div class="card text-center" long='{{event.longitude}}' lat='{{event.latitude}}'>
      <div class="card-header">
        <a href="{% url 'musicians:band-profile' profile_id=event.band.pk%}">{{event.band.name}}</a> live <a href="{% url 'events:profile' event_id=event.pk%}">@{{event.name}}</a> {{event.date | fancy_date}}
      </div>
      {% cloudinary event.picture.public_id width=300 height=150 crop="fill"%}
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{event.description}}</p>
        <p class="temp"></p>
        <p class="temp_max"></p>
        <p class="temp_min"></p>
        <p class="weahter_description"></p>
        <img class="weather_icon" src="" alt="">
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No suggestions for you</p>
    {% endif %}
  </div>
  {% endif %}


</div>


<script type="text/javascript">

function succes_forecast(element) {

  return function(response){
    $card_body=$(element).find('> .card-body');
    $img= $card_body.find('> .weather_icon').first();
    $temp=$card_body.find('> .temp').first();
    $temp_min=$card_body.find('> .temp_min').first();
    $temp_max=$card_body.find('> .temp_max').first();
    $description=$card_body.find('> .weahter_description').first();

    $img.attr('src', response.weather_icon);
    $temp.text(`${response.temp}°c`);
    $temp_min.text(`min: ${response.temp_min}°c`);
    $temp_max.text(`max: ${response.temp_max}°c`);
    $description.text(response.description);
  };
}


$(document).ready(function(){

  //Set config for openweathermap
  weather_config = {'appid': '6f53658522d8b6344fc36d7a6122511f'};

  $cards=$('.card');

  $cards.each(function(index){
    long=$(this).attr("long");
    lat=$(this).attr("lat");
    get_minimal_forecast(long, lat, succes_forecast(this));
  });//end of each

}); //end of on ready
</script>


{% endblock %}
