{% extends "gig/base.html" %}
{% load static %}
{% load cloudinary %}
{% load user_tags %}

{% block title %}
Gig For Musicians
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'gig/css/home.css' %}">
{% endblock %}

{% block body %}

{% if random_bands %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for band in random_bands %}
    <div class="carousel-item">
	{% cloudinary band.profile_pic.public_id height=400 alt="{{band.name}}" crop="fill_pad" gravity="auto" class="img-fluid"%}
	  <div class="carousel-caption d-block">
        <a href="{% url 'musicians:band-profile' profile_id=band.pk%}" style="text-decoration:none; color:white;"><h3>{{band.name}}</h3></a>
      </div>
    </div>
    {% endfor %}
  </div>

    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endif %}



<div class="container">
	<div class="row">
		<div class="jumbotron col-12">	
		{% if user.is_authenticated %}
			<h1 class="display-4">Hi {{user.first_name}},</h1>
			{% if  not has_artistProfile %}
			<p class="lead"> 
				Are you an artist? Register your band.
				<a class="btn btn-lg" href="{% url 'artists:register' %}" role="button">register as artist</a>
			</p>
			{% endif %}
		</div>
		{% else %}
			<h1 class="display-4">Hi, stranger</h1>
			<p class="lead">
				<a class="btn btn-md" href="{% url 'users:login' %}" role="button">Login</a> or <a class="btn btn-md" href="{% url 'users:signup' %}" role="button">Sign up</a> to follow bands and be up to date with upcoming events.
			</p>
		</div>
		{% endif %}
	</div>

		
	<div class="row upcoming mb-2 mx-auto">
		<h3>Upcoming events</h3>
		<hr>
	</div>
	<div class="row upcoming d-flex justify-content-center">
		{% if upcoming_events %}
		<div class="card-deck">
			{% for event in upcoming_events %}
			<div class="card text-center">
				<div class="card-header">
					<a href="{% url 'musicians:band-profile' profile_id=event.band.pk%}">{{event.band.name}}</a> live <a href="{% url 'events:profile' event_id=event.pk%}">@{{event.name}}</a> {{event.date | fancy_date}}
				</div>
				{% cloudinary event.picture.public_id alt="{{band.name}}" width=400 height=400 crop="thumb" gravity="faces:auto" class="card-img-bottom img-fluid"%}
			</div>
			{% endfor %}
		</div>
		{% else %}
		<p>No upcoming events</p>
		{% endif %}	
	</div>
</div>

<script>

	$(document).ready(function(){
		$("div.carousel-item:first-child").addClass("active");
	});

</script>



{% endblock %}
