{% extends "gig/base.html" %}
{% load static %}
{% load cloudinary %}
{% load staticfiles %}

{% block title %}
{{band.name}}
{% endblock %}

{% block link %}
{% cloudinary_includes %}
{% cloudinary_js_config %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/event.css' %}">
{% endblock %}

{% block body %}
<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>
        {{band.name}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% if user.is_authenticated %}
      <button type="button" name="button" onClick="upvoteBand('id_helper-vote-band')">Upvote</button>
      {% else %}
      Upvote:
      {% endif %}
      {{band.upvotes}}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if user.is_authenticated %}
      <button type="button" name="button" onClick="downvoteBand('id_helper-vote-band')">Downvote</button>
      {% else %}
      Downvote:
      {% endif %}
      {{band.downvotes}}
    </div>
  </div>

  <div class="row">
    <div class="helper">
      <p id="id_helper-vote-band"></p>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      followers: {{band.amount_followers}}
      {% if user.is_authenticated %}
      {% if user_follows %}
      <button type="button" name="button" onClick="unfollowBand('id_helper-follow-band')">unfollow</button>
      {% else %}
      <button type="button" name="button" onClick="followBand('id_helper-follow-band')">follow</button>
      {% endif %}
      {%endif%}
    </div>
  </div>


  <div class="row">
    <div class="helper">
      <p id="id_helper-follow-band"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>
        Band Profile Picture
      </h2>
      {% cloudinary band.profile_pic.public_id width=100 height=150 crop="fill"%}
    </div>
    {% if is_owner %}
    <div class="col-12">
      {{direct_pp}}
      <div class="helper-message-container">
        <p id="id_helper-message-band-profile-pic"></p>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="">
      {% if  band.soundcloud_profile_url%}
      <a href="{{band.soundcloud_profile_url}}"><i class="fab fa-soundcloud"></i></a>
      {% endif %}
      {% if is_owner %}
      <button id="myBtn"> <i class="fas fa-pen"></i></button>
      {% endif %}
    </div>
  </div>

  {% if is_owner %}
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="" action="" method="post">
        <div class="form-group">

          <label>SoundCloud profile</label>
          {% if  band.soundcloud_profile_url%}
          <!-- Situation where the url exists and owner can update or remove it-->
          <input id="id_profileSoundcloud" type="text" name="soundcloud_profile" value="{{band.soundcloud_profile_url}}">
          <button type="button" name="button" onclick="updateProfileSoundCloud('id_profileSoundcloud', 'id_modalHelper')">Save Update</button>
          <button type="button" name="button" onclick="deleteProfileSoundCloud('id_profileSoundcloud', 'id_modalHelper')">Delete URL</button>
          {% else %}
          <!-- Situation where the does not exists and owner can add an url-->
          <input id="id_profileSoundcloud" type="text" name="soundcloud_profile" value="e.g. https://soundcloud.com/your-profile-name">
          <button type="button" name="button" onclick="addProfileSoundCloud('id_profileSoundcloud', 'id_modalHelper')">Save Profile</button>
          {% endif %}
        </div>
        <div class="form-group">
          <label>SoundCloud playlist</label>
          {% if  band.soundcloud_playlist_url%}
          <!-- Situation where the url exists and owner can update or remove it-->
          <input id="id_playlistSoundCloud" type="text" name="soundcloud_playlit" value="{{band.soundcloud_playlist_url}}">
          <button type="button" name="button" onclick="updatePlayListSoundCloud('id_playlistSoundCloud', 'id_modalHelper')">Save Update</button>
          <button type="button" name="button" onclick="deletePlayListSoundCloud('id_playlistSoundCloud', 'id_modalHelper')">Delete URL</button>
          {% else %}
          <!-- Situation where the does not exists and owner can add an url-->
          <input id="id_playlistSoundCloud" type="text" name="soundcloud_profile" value="e.g. <iframe ....> </iframe>">
          <button type="button" name="button" onclick="addPlayListSoundCloud('id_playlistSoundCloud', 'id_modalHelper')">Save Playlist</button>
          {% endif %}

          <p id="id_modalHelper"></p>
        </div>
      </form>
    </div>
  </div>
  {% endif %}


  <div class="row">
    <div class="col-12">
      <h2>
        Background Picture
      </h2>
      {% cloudinary band.background_pic.public_id width=100 height=150 crop="fill"%}
    </div>
    {% if is_owner %}
    <div class="col-12">
      {{direct_bp}}
      <div class="helper-message-container">
        <p id="id_helper-message-band-background-pic"></p>
      </div>
    </div>
    {% endif %}
  </div>


  <div class="row">
    <div class="col-12">
      <h2>
        Band description
      </h2>
      {% if is_owner %}
      <textarea name="description"id='id_description' rows="8" cols="80">{{band.description}}</textarea>
      {% else %}
      <p>
        {{band.description}}
      </p>
      {% endif %}
    </div>
    {% if is_owner %}
    <div class="col-12">
      <button type="button" name="button_update_description" onClick="updateDescription('id_description')">Update Description</button>
    </div>
    {% endif %}

  </div>

  {% if band.genres %}
  {% if is_owner %}
  <div class="row">
    <h2>Band Genres</h2>
    <div class="col-12">
      {% for genre in band.genres %}
      <input type="text" name="genre0" id="id_genre0" value="{{genre}}">
      <button type="button" name="" onClick="removeGenre('id_genre0')">Remove Genre</button>
      {% endfor %}
      <div class="genre-container">
        <input type="text" name="new_genre0" id="id_new_genre0" value="add genre">
        <button type="button" name="" onClick="addGenre('id_new_genre0')">Add Genre</button>
      </div>

    </div>
  </div>
  {% else %}

  <div class="row">
    <div class="col-12">
      <h2>Band Genres</h2>
      <ul>
        {% for genre in band.genres %}
        <li>
          {{genre}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% else %}
  <div class="row">
    <h2>Band Genres</h2>
    {% if is_owner %}
    <div class="genre-container">
      <input type="text" name="new_genre0" id="id_new_genre0" value="add genre">
      <button type="button" name="" onClick="addGenre('id_new_genre0')">Add Genre</button>
    </div>
    {% else %}
    <div class="col-12">
      Band didn't specify any genre
    </div>
    {% endif %}
  </div>
  {% endif %}


  <div class="row">
    <div class="col-12">
      <h2>
        Pictures
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% for pic in band_pics%}
      <div class="pic-container">
        {% cloudinary pic.public_id width=100 height=150 crop="fill"%}
      </div>
      {% if is_owner %}
      <div class="">
        <button type="button" name="button" onClick="removeBandPic({{pic.pk}})">Delete Pic</button>
      </div>
      {% endif %}
      {% endfor %}
      {% if is_owner%}
      <div class="">
        {{direct_pic}}
        <div class="helper-message-container">
          <p id="id_helper-message-band-pic"></p>
        </div>
      </div>
      {% endif %}
    </div>

  </div>



  <div class="row">
    <div class="col-12">
      <h2>
        videos
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% for video in band_videos%}
      <div class="video-container">
        <video id="demo-player"controls autoplay class="cld-video-player" data-cld-source="{{video.public_id}}"></video>
      </div>
      {% if is_owner %}
      <div class="">
        <button type="button" name="button" onClick="removeBandVideo({{video.pk}})">Delete Video</button>
      </div>
      {% endif %}
      {% endfor %}
      {% if is_owner%}
      <div class="">
        {{direct_video}}
        <div class="helper-message-container">
          <p id="id_helper-message-video"></p>
        </div>
      </div>
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <h2>
        Music
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if band.soundcloud_playlist_url %}
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="{{band.soundcloud_playlist_url}}"></iframe>
      {% else %}
      No Music specified by the user
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h2>Line up</h2>
      <ul>
        {% for member in line_up %}
        <li>
          <a href="{% url 'artists:artist-profile' profile_id=member.artist.pk%}">{{member.artist.stage_name}}</a>
          <br>
          {% if is_owner%}
          <input type="text" name="role" id="id_role0" value="{{member.role}}">
          <button type="button" name="" onClick="updateRole('id_role0', '{{member.pk}}')">Update Role</button>
          <button type="button" name="" onClick="removeMember('id_role0', '{{member.pk}}')">Remove member</button>
          {% else %}
          <p>{{member.role}}</p>
          {% endif %}
          <br>
          (profile public_id {{member.artist.profile_pic.public_id}})
          {% cloudinary member.artist.profile_pic.public_id width=100 height=150 crop="fill"%}
        </li>
        {% endfor %}
        {% if is_owner %}
        <li>
          <input type="email" name="" id="id_new_member0" value="add member" required>
          <p id="id_info_text">Warning text</p>
          <button type="button" name="" onClick="addMember('id_new_member0', 'id_info_text')">Send invitation</button>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="row">
    <h2>Comments</h2>
  </div>

  <div class="row comment-container">
    {% if user.is_authenticated %}
    <textarea id="id_comment-input" name="name" rows="3" cols="50">Say somenthing</textarea>
    <button type="button" name="button" onClick="addComment('id_comment-input', 'id_helper-comment')">Save comment</button>
    <p id="id_helper-comment"></p>
    {% else %}
    <p><a href="{% url 'users:login' %}">Login</a> or <a href="{% url 'users:signup' %}">sign up</a> to comment</p>
    {% endif %}
  </div>
  {% for com in comments %}
  <br>
  <div class="row comment-container">
    <div class="row">

      <div class="col-12 col-md-3">
        {% if user.is_authenticated %}
        <button type="button" name="button" onClick="upvoteComment({{com.pk}}, 'id_helper-comment')">Upvote</button>
        {% else %}
        Upvote:
        {% endif %}
        {{com.upvotes}}
      </div>
      <div class="col-12 col-md-3">
        {% if user.is_authenticated %}
        <button type="button" name="button" onClick="downvoteComment({{com.pk}}, 'id_helper-comment')">Downvote</button>
        {% else %}
        Downvote:
        {% endif %}
        {{com.downvotes}}
      </div>
      <div class="col-12 col-md-3">
        <h4>{{com.commentator.first_name}} {{com.commentator.last_name}}</h4>
      </div>
      <div class="col-12 col-md-3">
        <p>{{com.date}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-5">
        <p>{{com.comment}}</p>
      </div>
    </div>

  </div>
  {% endfor %}

</div>


<script type="text/javascript">

function sendAjaxRequest(url_l, dict, valToSend, success_func, failure_func){
  if (valToSend != ''){
    $.ajax({
      type: "POST",
      url: url_l,
      data: dict,
      dataType: 'json',
      success: function(response){

        if(response.is_executed){
          success_func(response);
        }
        else{
          failure_func(response);
        }

      }});

    }else {
      alert("AjaxRequest wasn't send. The value involved in the update is an empty string ");
    }
  }

  function removeBandPic(pic_id){

    var dict= {
      'val': pic_id,
      'operation': 'delete',
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    sendAjaxRequest("{% url 'musicians:update-picture' %}", dict, pic_id, success_func, failure_func);
  }


  function removeBandVideo(vid_id){

    var dict= {
      'val': vid_id,
      'operation': 'delete',
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    sendAjaxRequest("{% url 'musicians:update-video' %}", dict, vid_id, success_func, failure_func);
  }


  function updateDescription(id_selector) {
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };


    sendAjaxRequest("{% url 'musicians:update-description' %}",
    dict,
    $des.val(),
    success_func,
    failure_func);
  }

  function operationGenre(id_selector, operation){
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'operation': operation,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    sendAjaxRequest("{% url 'musicians:update-genre' %}",
    dict,
    $des.val(),
    success_func,
    failure_func);
  }

  function addGenre(id_selector){
    operationGenre(id_selector, 'add');
  }
  function removeGenre(id_selector){
    operationGenre(id_selector, 'remove');
  }


  function operationMember(id_selector, member_id, operation, success_func, failure_func){
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'operation': operation,
      'member_id': member_id,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    sendAjaxRequest("{% url 'musicians:update-member' %}", dict, $des.val(), success_func, failure_func);
  }

  function updateRole(id_selector, member_id){
    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    operationMember(id_selector, member_id, 'update',success_func, failure_func);
  }


  function removeMember(id_selector, member_id){
    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    operationMember(id_selector, member_id, 'remove',success_func, failure_func);
  }

  function addMember(id_selector, id_help_text) {
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text('An invitation was send succesfuly');
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest("{% url 'musicians:add-member' %}", dict, $des.val(), success_func, failure_func);
  }

  function bindPicListener(id_selector, start_func, progress_func, ready_func){
    $(`#${id_selector}`).bind('cloudinaryprogress', progress_func)
    $(`#${id_selector}`).cloudinary_fileupload().on('cloudinarydone', ready_func);
  }

  function uploadToCloudAndSave(id_selector, id_helper, operation){

    success_func = function(response){
      $helper=$(`#${id_helper}`);
      $helper.text("Saved succesfuly");
    };

    failure_func = function(response){
      $helper=$(`#${id_helper}`);
      $helper.text(response.reason);
    }

    start_func=function(){
      $helper=$(`#${id_helper}`);
      $helper.text("Start upload");
    };
    progress_func=function(e, data){
      $helper=$(`#${id_helper}`);
      var per = Math.round((data.loaded * 100.0) / data.total) + '%';
      $helper.text(`Uploading... ${per}`);
    };
    ready_func=function(e, data){
      $helper=$(`#${id_helper}`);
      $helper.text('Updating backend...');

      dict={
        'val': JSON.stringify(data.result),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'operation': operation,
        'band_id': {{band.pk}},
      };

      sendAjaxRequest("{% url 'musicians:update-picture' %}", dict, data.result, success_func, failure_func);
    };

    bindPicListener(id_selector, start_func, progress_func, ready_func);
  }

  function bindProfilePicListener() {
    uploadToCloudAndSave('id_new_band_profile_pic', 'id_helper-message-band-profile-pic', 'profile');
  }

  function bindBackgroundPicListener() {
    uploadToCloudAndSave('id_new_band_background_pic', 'id_helper-message-band-background-pic', 'background');
  }

  function bindBandPicListener(){
    uploadToCloudAndSave('id_new_band_pic', 'id_helper-message-band-pic', 'add');
  }

  function uploadVideoAndSave(id_selector, id_helper, operation){

    success_func = function(response){
      $helper=$(`#${id_helper}`);
      $helper.text("Saved succesfuly");
    };

    failure_func = function(response){
      $helper=$(`#${id_helper}`);
      $helper.text(response.reason);
    }

    start_func=function(){
      $helper=$(`#${id_helper}`);
      $helper.text("Start upload");
    };
    progress_func=function(e, data){
      $helper=$(`#${id_helper}`);
      var per = Math.round((data.loaded * 100.0) / data.total) + '%';
      $helper.text(`Uploading... ${per}`);
    };
    ready_func=function(e, data){
      $helper=$(`#${id_helper}`);
      $helper.text('Updating backend...');

      dict={
        'val': JSON.stringify(data.result),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'operation': operation,
        'band_id': {{band.pk}},
      };
      console.log(data.result)
      sendAjaxRequest("{% url 'musicians:update-video' %}", dict, data.result, success_func, failure_func);
    };

    bindPicListener(id_selector, start_func, progress_func, ready_func);

  }

  function bindVideoListener(){
    uploadVideoAndSave('id_new_video', 'id_helper-message-video', 'add');
  }

  function addComment(id_selector, id_help_text){
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text('Comment was saved');
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest("{% url 'musicians:add-comment' %}", dict, $des.val(), success_func, failure_func);
  }

  function vote(comment_id, id_help_text, operation, url){

    var dict= {
      'val': comment_id,
      'band_id': {{band.pk}},
      'operation':operation,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text(`New upvotes ${response.upvotes} and downvotes ${response.downvotes}`);
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest(url, dict, comment_id, success_func, failure_func);
  }

  function upvoteComment(comment_id, id_help_text){
    vote(comment_id, id_help_text, 'upvote', "{% url 'musicians:vote-comment' %}");
  }

  function downvoteComment(comment_id, id_help_text){
    vote(comment_id, id_help_text, 'downvote', "{% url 'musicians:vote-comment' %}");
  }


  function followOperation(id_help_text, val){

    var dict= {
      'val': val,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text(`New followers ${response.followers}`);
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };


    sendAjaxRequest("{% url 'musicians:update-follow' %}", dict, val, success_func, failure_func);
  }


  function upvoteBand(id_help_text){
    vote('Not important', id_help_text, 'upvote', "{% url 'musicians:vote-band' %}");
  }

  function downvoteBand(id_help_text){
    vote('Not important', id_help_text, 'downvote', "{% url 'musicians:vote-band' %}");
  }


  function followBand(id_help_text){
    followOperation(id_help_text, 'follow');
  }

  function unfollowBand(id_help_text){
    followOperation(id_help_text, 'unfollow');
  }

  function updateUrl(id_selector, id_help_text, kind_url, operation, url) {
    $select=$(`#${id_selector}`);

    var dict= {
      'val': $select.val(),
      'operation': operation,
      'band_id': {{band.pk}},
      'kind_url': kind_url,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text(response.value);
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };


    sendAjaxRequest(url, dict, $select.val(), success_func, failure_func);
  }


  function profileSoundCloud(id_selector, id_help_text, operation) {
    updateUrl(id_selector, id_help_text, 'profile', operation, "{% url 'musicians:update-soundcloud' %}");
  }

  function addProfileSoundCloud(id_selector, id_help_text) {
    profileSoundCloud(id_selector, id_help_text, 'add')
  }

  function updateProfileSoundCloud(id_selector, id_help_text) {
    profileSoundCloud(id_selector, id_help_text, 'update')
  }
  function deleteProfileSoundCloud(id_selector, id_help_text) {
    profileSoundCloud(id_selector, id_help_text, 'delete')
  }


  function playListSoundCloud(id_selector, id_help_text, operation) {
    updateUrl(id_selector, id_help_text, 'playlist', operation, "{% url 'musicians:update-soundcloud' %}");
  }

  function addPlayListSoundCloud(id_selector, id_help_text) {
    playListSoundCloud(id_selector, id_help_text, 'add')
  }

  function updatePlayListSoundCloud(id_selector, id_help_text) {
    playListSoundCloud(id_selector, id_help_text, 'update')
  }
  function deletePlayListSoundCloud(id_selector, id_help_text) {
    playListSoundCloud(id_selector, id_help_text, 'delete')
  }


  $(document).ready(function(){
    bindBackgroundPicListener();
    bindProfilePicListener();
    bindBandPicListener();
    bindVideoListener();

    {%if is_owner %}

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
      $helper= $(`#id_modalHelper`).text('');
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    {% endif %}
  });



  </script>
  {% endblock %}
