{% extends "gig/base.html" %}
{% load static %}
{% load cloudinary %}
{% load staticfiles %}
{% load user_tags %}

{% block title %}
{{band.name}}
{% endblock %}

{% block link %}
{% cloudinary_includes %}
{% cloudinary_js_config %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/event.css' %}">
{% endblock %}

{% block body %}
<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>
        {{band.name}}
      </h1>
    </div>
  </div>

  <div class="row">
    <div id="id_upvote-container" class="col-12">
      {% if user.is_authenticated %}
      <button type="button" name="button" onClick="upvoteBand('id_helper-vote-band')">Upvote</button>
      {% else %}
      Upvote:
      {% endif %}
      <span id="id_upvotes_txt">{{band.upvotes}}</span>

    </div>
  </div>

  <div id="id_downvote-container" class="row">
    <div class="col-12">
      {% if user.is_authenticated %}
      <button type="button" name="button" onClick="downvoteBand('id_helper-vote-band')">Downvote</button>
      {% else %}
      Downvote:
      {% endif %}
      <span id="id_downvotes_txt">{{band.downvotes}}</span>
    </div>
  </div>

  <div class="row">
    <div class="helper">
      <p id="id_helper-vote-band"></p>
    </div>

  </div>

  <div id="id_follows-container" class="row">
    <div class="col-12">
      <span id="id_followers-txt">followers: {{band.amount_followers}}</span>
      {% if user.is_authenticated %}
      {% if user_follows %}
      <button id="id_follows-btn" type="button" name="button" onClick="unfollowBand('id_helper-follow-band')">unfollow</button>
      {% else %}
      <button id="id_follows-btn" type="button" name="button" onClick="followBand('id_helper-follow-band')">follow</button>
      {% endif %}
      {%endif%}
    </div>
  </div>


  <div class="row">
    <div class="helper">
      <p id="id_helper-follow-band"></p>
    </div>
  </div>

  <a href="{% url 'musicians:agenda' band_id=band.pk%}">Agenda</a>

  <div class="row">
    <div class="col-12">
      <h2>
        Band Profile Picture
      </h2>
      {% cloudinary band.profile_pic.public_id width=100 height=150 crop="fill" id="id_img_profile"%}
    </div>
    {% if is_owner %}
    <div class="col-12">
      {{direct_pp}}
      <div class="helper-message-container">
        <p id="id_helper-message-band-profile-pic"></p>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="">
      {% if  band.soundcloud_profile_url%}
      <a href="{{band.soundcloud_profile_url}}"><i class="fab fa-soundcloud"></i></a>
      {% endif %}
      {% if  band.youtube_profile_url%}
      <a href="{{band.youtube_profile_url}}"><i class="fab fa-youtube"></i></a>
      {% endif %}
      {% if is_owner %}
      <button id="myBtn"> <i class="fas fa-pen"></i></button>
      {% endif %}
    </div>
  </div>

  {% if is_owner %}
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="" action="" method="post">
        <div class="form-group">

          <label>SoundCloud profile</label>
          {% if  band.soundcloud_profile_url%}
          <!-- Situation where the url exists and owner can update or remove it-->
          <input id="id_profileSoundcloud" type="text" name="soundcloud_profile" value="{{band.soundcloud_profile_url}}">
          <button type="button" name="button" onclick="updateProfileSoundCloud('id_profileSoundcloud', 'id_modalHelper')">Save Update</button>
          <button type="button" name="button" onclick="deleteProfileSoundCloud('id_profileSoundcloud', 'id_modalHelper')">Delete URL</button>
          {% else %}
          <!-- Situation where the does not exists and owner can add an url-->
          <input id="id_profileSoundcloud" type="text" name="soundcloud_profile" value="e.g. https://soundcloud.com/your-profile-name">
          <button type="button" name="button" onclick="addProfileSoundCloud('id_profileSoundcloud', 'id_modalHelper')">Save Profile</button>
          {% endif %}
        </div>
        <div class="form-group">
          <label>SoundCloud playlist</label>
          {% if  band.soundcloud_playlist_url%}
          <!-- Situation where the url exists and owner can update or remove it-->
          <input id="id_playlistSoundCloud" type="text" name="soundcloud_playlit" value="{{band.soundcloud_playlist_url}}">
          <button type="button" name="button" onclick="updatePlayListSoundCloud('id_playlistSoundCloud', 'id_modalHelper')">Save Update</button>
          <button type="button" name="button" onclick="deletePlayListSoundCloud('id_playlistSoundCloud', 'id_modalHelper')">Delete URL</button>
          {% else %}
          <!-- Situation where the does not exists and owner can add an url-->
          <input id="id_playlistSoundCloud" type="text" name="soundcloud_profile" value="e.g. <iframe ....> </iframe>">
          <button type="button" name="button" onclick="addPlayListSoundCloud('id_playlistSoundCloud', 'id_modalHelper')">Save Playlist</button>
          {% endif %}

        </div>
        <div class="form-group">

          <label>Youtube Channel</label>
          {% if  band.youtube_profile_url%}
          <!-- Situation where the url exists and owner can update or remove it-->
          <input id="id_profileYoutube" type="text" name="youtube_profile" value="{{band.youtube_profile_url}}">
          <button type="button" name="button" onclick="updateProfileYoutube('id_profileYoutube', 'id_modalHelper')">Save Update</button>
          <button type="button" name="button" onclick="deleteProfileYoutube('id_profileYoutube', 'id_modalHelper')">Delete URL</button>
          {% else %}
          <!-- Situation where the url does not exists and owner can add an url-->
          <input id="id_profileYoutube" type="text" name="youtube_profile" value="e.g. https://www.youtube.com/channel/your-id">
          <button type="button" name="button" onclick="addProfileYoutube('id_profileYoutube', 'id_modalHelper')">Save Profile</button>
          {% endif %}
        </div>

      </form>

      <div class="form-group">

        <label>Youtube Playlist</label>
        {% if  band.youtube_playlist_url%}
        <!-- Situation where the url exists and owner can update or remove it-->
        <input id="id_playlistYoutube" type="text" name="youtube_playlist" value="{{band.youtube_playlist_url}}">
        <button type="button" name="button" onclick="updatePlaylistYoutube('id_playlistYoutube', 'id_modalHelper')">Save Update</button>
        <button type="button" name="button" onclick="deletePlaylistYoutube('id_playlistYoutube', 'id_modalHelper')">Delete URL</button>
        {% else %}
        <!-- Situation where the url does not exists and owner can add an url-->
        <input id="id_playlistYoutube" type="text" name="youtube_playlist" value="e.g <iframe ....> </iframe>">
        <button type="button" name="button" onclick="addPlaylistYoutube('id_playlistYoutube', 'id_modalHelper')">Save Playlist</button>
        {% endif %}

        <p id="id_modalHelper"></p>
      </div>

    </form>

    </div>
  </div>
  {% endif %}


  <div class="row">
    <div class="col-12">
      <h2>
        Background Picture
      </h2>
      {% cloudinary band.background_pic.public_id width=100 height=150 crop="fill" id="id_img_bg"%}
    </div>
    {% if is_owner %}
    <div class="col-12">
      {{direct_bp}}
      <div class="helper-message-container">
        <p id="id_helper-message-band-background-pic"></p>
      </div>
    </div>
    {% endif %}
  </div>


  <div class="row">
    <div class="col-12">
      <h2>
        Band description
      </h2>
      {% if is_owner %}
      <textarea name="description"id='id_description' rows="8" cols="80">{{band.description}}</textarea>
      {% else %}
      <p>
        {{band.description}}
      </p>
      {% endif %}
    </div>
    {% if is_owner %}
    <div class="col-12">
      <button type="button" name="button_update_description" onClick="updateDescription('id_description')">Update Description</button>
      <span id="id_help-description" class=""></span>
    </div>
    {% endif %}

  </div>

  {% if band.genres %}
  {% if is_owner %}
  <div class="row">
    <h2>Band Genres</h2>
    <div class="container">
      <span id="id_genre-helper"></span>
    </div>
    <div class="col-12">
      {% for genre in band.genres %}
      <div class="remove-genre-container">
        <input type="text" name="genre0" id="id_genre0" value="{{genre}}">
        <button type="button" name="" onClick="removeGenre(this)">Remove Genre</button>
      </div>
      {% endfor %}
      <div class="add-genre-container">
        <input type="text" name="new_genre0" id="id_new_genre0" value="add genre">
        <button type="button" name="" onClick="addGenre(this)">Add Genre</button>
      </div>

    </div>
  </div>
  {% else %}

  <div class="row">
    <div class="col-12">
      <h2>Band Genres</h2>
      <ul>
        {% for genre in band.genres %}
        <li>
          {{genre}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% else %}
  <div class="row">
    <h2>Band Genres</h2>
    {% if is_owner %}
    <div class="add-genre-container">
      <input type="text" name="new_genre0" id="id_new_genre0" value="add genre">
      <button type="button" name="" onClick="addGenre(this)">Add Genre</button>
    </div>
    {% else %}
    <div class="col-12">
      Band didn't specify any genre
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <h2>
        videos
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% if band.youtube_playlist_url %}
      <iframe width="560" height="315" src="{{band.youtube_playlist_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% else %}
      No videos specified by the user
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <h2>
        Music
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% if band.soundcloud_playlist_url %}
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="{{band.soundcloud_playlist_url}}"></iframe>
      {% else %}
      No Music specified by the user
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <h2>Line up</h2>
      <span id=""></span>
      <ul>
        {% for member in line_up %}
        <li>
          <a href="{% url 'artists:artist-profile' profile_id=member.artist.pk%}">{{member.artist.stage_name}}</a>
          <br>
          {% if is_owner%}
          <input type="text" name="role" value="{{member.role}}">
          <button type="button" name="" onClick="updateRole(this, '{{member.pk}}')">Update Role</button>
          <button type="button" name="" onClick="removeMember(this, '{{member.pk}}')">Remove member</button>

          {% else %}
          <p>{{member.role}}</p>
          {% endif %}
          <br>
          {% cloudinary member.artist.profile_pic.public_id width=100 height=150 crop="fill"%}
        </li>
        {% endfor %}
        {% if is_owner %}
        <li>
          <input type="email" name="" id="id_new_member0" value="add member" required>

          <button type="button" name="" onClick="addMember('id_new_member0', 'id_help-line-up')">Send invitation</button>
        </li>
        <span id="id_help-line-up" class=""></span>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="row">
    <h2>Comments</h2>
  </div>

  <div class="row request-login-singup-container">
    {% if user.is_authenticated %}
    <textarea id="id_comment-input" name="name" rows="3" cols="50">Say somenthing</textarea>
    <button type="button" name="button" onClick="addComment('id_comment-input', 'id_helper-comment')">Save comment</button>
    <p id="id_helper-comment"></p>
    {% else %}
    <p><a href="{% url 'users:login' %}">Login</a> or <a href="{% url 'users:signup' %}">sign up</a> to comment</p>
    {% endif %}
  </div>

  <div class="comments-container">
    {% for com in comments %}
    <div class="comment-container">
      <br>
      <div class="row com-container">
        <div class="row">
          <div class="col-12 col-md-3 upvote-container">
            {% if user.is_authenticated %}
            <button clas='upvote-btn' type="button" name="button" onClick="upvoteComment(this, {{com.pk}}, 'id_helper-comment')">Upvote</button>
            {% else %}
            Upvote:
            {% endif %}
            <p>{{com.upvotes}}</p>
          </div>
          <div class="col-12 col-md-3 downvote-container">
            {% if user.is_authenticated %}
            <button clas='downvote-btn' type="button" name="button" onClick="downvoteComment(this, {{com.pk}}, 'id_helper-comment')">Downvote</button>
            {% else %}
            Downvote:
            {% endif %}
            <p>{{com.downvotes}}</p>
          </div>
          <div class="col-12 col-md-3 commentator-container">
            <h4>{{com.commentator.first_name}} {{com.commentator.last_name}}</h4>
          </div>
          <div class="col-12 col-md-3 comment-date-container">
            <p>{{com.date |fancy_date}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 comment-text-container">
            <p>{{com.comment}}</p>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}

    <div style="display:none;" id="com_example" class="comment-container">
      <br>
      <div class="row com-container">
        <div class="row">
          <div class="col-12 col-md-3 upvote-container">
            <button clas='upvote-btn' type="button" name="button" onClick="">Upvote</button>
            <p>0</p>
          </div>
          <div class="col-12 col-md-3 downvote-container">
            <button clas='downvote-btn' type="button" name="button" onClick="">Downvote</button>
            <p>0</p>
          </div>
          <div class="col-12 col-md-3 commentator-container">
            <h4></h4>
          </div>
          <div class="col-12 col-md-3 comment-date-container">
            <p></p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 comment-text-container">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">

function sendAjaxRequest(url_l, dict, valToSend, success_func, failure_func){
  if (valToSend != ''){
    $.ajax({
      type: "POST",
      url: url_l,
      data: dict,
      dataType: 'json',
      success: function(response){

        if(response.is_executed){
          success_func(response);
        }
        else{
          failure_func(response);
        }

      }});

    }else {
    }
  }

  function removeBandPic(pic_id){

    var dict= {
      'val': pic_id,
      'operation': 'delete',
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    sendAjaxRequest("{% url 'musicians:update-picture' %}", dict, pic_id, success_func, failure_func);
  }


  function removeBandVideo(vid_id){

    var dict= {
      'val': vid_id,
      'operation': 'delete',
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      alert(`backend performed the requested operation succesfuly involving ${response.val}`);
    };

    failure_func = function (response){
      alert(`backend couldn't perform the requested operation reason: ${response.reason}`);
    };

    sendAjaxRequest("{% url 'musicians:update-video' %}", dict, vid_id, success_func, failure_func);
  }


  function updateDescription(id_selector) {
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      var helper= $("#id_help-description");
      helper.text('changes saved');
      helper.removeAttr("class");
      helper.attr("class", "text-success");
    };

    failure_func = function (response){
      $("id_help-description").text(response.reason).removeAttr("class").attr("class", "text-success");
    };


    sendAjaxRequest("{% url 'musicians:update-description' %}",
    dict,
    $des.val(),
    success_func,
    failure_func);
  }

  function operationGenre(button, operation){

    var $copy_new_genre=$(button).parent().clone();
    var $parent_element=$(button).parent().parent();
    var $des=$(button).parent().find("input");

    var dict= {
      'val': $des.val(),
      'operation': operation,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      if(operation==="add"){

        var helper= $("#id_genre-helper");
        helper.text('genre added');
        helper.removeAttr("class");
        helper.attr("class", "text-success");
        //add button to add genre and change button to remove genre
        var $btn = $(button);
        $btn.attr("onClick", 'removeGenre(this)');
        $btn.text("Remove Genre");

        //add new add field and button
        $copy_new_genre.find("input").val("add genre");
        $parent_element.append($copy_new_genre)

      }
      else {
        $(button).parent().remove();
        var helper= $("#id_genre-helper");
        helper.text('genre removed');
        helper.removeAttr("class");
        helper.attr("class", "text-success");
      }
    };

    failure_func = function (response){
      var helper= $("#id_genre-helper");
      helper.text(response.reason);
      helper.removeAttr("class");
      helper.attr("class", "text-danger");
    };

    sendAjaxRequest("{% url 'musicians:update-genre' %}",
    dict,
    $des.val(),
    success_func,
    failure_func);
  }

  function addGenre(button){
    operationGenre(button, 'add');
  }
  function removeGenre(button){
    operationGenre(button, 'remove');
  }

  function updateRole(button, member_id){
    $input=$(button).parent().find("input");
    var dict= {
      'val': $input.val(),
      'operation': 'update',
      'member_id': member_id,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func= function (response){
      var helper= $("#id_help-line-up");
      helper.text('Role updated');
      helper.removeAttr("class");
      helper.attr("class", "text-success");
    }

    failure_func = function (response){
      var helper= $("#id_help-line-up");
      helper.text(response.reason);
      helper.removeAttr("class");
      helper.attr("class", "text-danger");
    }

    sendAjaxRequest("{% url 'musicians:update-member' %}", dict, $input.val(), success_func, failure_func);
  }


  function removeMember(button, member_id){
    var dict= {
      'val': 'not important',
      'operation': 'remove',
      'member_id': member_id,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(button).parent().remove();
      var helper= $("#id_help-line-up");
      helper.text('Member removed succesfuly');
      helper.removeAttr("class");
      helper.attr("class", "text-success");
    };

    failure_func = function (response){
      var helper= $("#id_help-line-up");
      helper.text(response.reason);
      helper.removeAttr("class");
      helper.attr("class", "text-danger");
    };

    sendAjaxRequest("{% url 'musicians:update-member' %}", dict, 'not important', success_func, failure_func);
  }

  function addMember(id_selector, id_help_text) {
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text('An invitation was send succesfuly');
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest("{% url 'musicians:add-member' %}", dict, $des.val(), success_func, failure_func);
  }

  function bindPicListener(id_selector, start_func, progress_func, ready_func){
    $(`#${id_selector}`).bind('cloudinaryprogress', progress_func)
    $(`#${id_selector}`).cloudinary_fileupload().on('cloudinarydone', ready_func);
  }

  function uploadToCloudAndSave(id_selector, id_helper, operation){

    start_func=function(){
      $helper=$(`#${id_helper}`);
      $helper.text("Start upload");
    };
    progress_func=function(e, data){
      $helper=$(`#${id_helper}`);
      var per = Math.round((data.loaded * 100.0) / data.total) + '%';
      $helper.text(`Uploading... ${per}`);
    };
    ready_func=function(e, data){
      $helper=$(`#${id_helper}`);
      $helper.text('Updating backend...');

      success_func = function(response){
        $helper=$(`#${id_helper}`);
        if (operation === "profile") {
          $("#id_img_profile").attr("src", data.result.url);
        }
        else {
          $("#id_img_bg").attr("src", data.result.url);

        }
        $helper.text("Saved succesfuly");
        $helper.removeAttr("class");
        $helper.attr("class", "text-success");
      };

      failure_func = function(response){
        $helper=$(`#${id_helper}`);
        $helper.text(response.reason);
      }

      dict={
        'val': JSON.stringify(data.result),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'operation': operation,
        'band_id': {{band.pk}},
      };

      sendAjaxRequest("{% url 'musicians:update-picture' %}", dict, data.result, success_func, failure_func);
    };

    bindPicListener(id_selector, start_func, progress_func, ready_func);
  }

  function bindProfilePicListener() {
    uploadToCloudAndSave('id_new_band_profile_pic', 'id_helper-message-band-profile-pic', 'profile');
  }

  function bindBackgroundPicListener() {
    uploadToCloudAndSave('id_new_band_background_pic', 'id_helper-message-band-background-pic', 'background');
  }

  function bindBandPicListener(){
    uploadToCloudAndSave('id_new_band_pic', 'id_helper-message-band-pic', 'add');
  }

  function uploadVideoAndSave(id_selector, id_helper, operation){

    success_func = function(response){
      $helper=$(`#${id_helper}`);
      $helper.text("Saved succesfuly");
    };

    failure_func = function(response){
      $helper=$(`#${id_helper}`);
      $helper.text(response.reason);
    }

    start_func=function(){
      $helper=$(`#${id_helper}`);
      $helper.text("Start upload");
    };
    progress_func=function(e, data){
      $helper=$(`#${id_helper}`);
      var per = Math.round((data.loaded * 100.0) / data.total) + '%';
      $helper.text(`Uploading... ${per}`);
    };
    ready_func=function(e, data){
      $helper=$(`#${id_helper}`);
      $helper.text('Updating backend...');

      dict={
        'val': JSON.stringify(data.result),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'operation': operation,
        'band_id': {{band.pk}},
      };
      sendAjaxRequest("{% url 'musicians:update-video' %}", dict, data.result, success_func, failure_func);
    };

    bindPicListener(id_selector, start_func, progress_func, ready_func);

  }

  function bindVideoListener(){
    uploadVideoAndSave('id_new_video', 'id_helper-message-video', 'add');
  }

  function addComment(id_selector, id_help_text){
    $des=$(`#${id_selector}`);
    var dict= {
      'val': $des.val(),
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      var new_cmt =$("#com_example").clone();
      new_cmt.removeAttr("id");
      new_cmt.css("display", 'block');

      new_cmt.find('.commentator-container > h4').text(response.first_name + " " +response.last_name);
      new_cmt.find('.comment-text-container > p').text(response.val);
      new_cmt.find('.comment-date-container > p').text(response.date);

      new_cmt.find('.downvote-container > p').text(response.downvotes);
      new_cmt.find('.downvote-container > button').attr("onClick",`downvoteComment(this, ${response.comment_id} , 'id_helper-comment')`);
      new_cmt.find('.upvote-container > p').text(response.upvotes);
      new_cmt.find('.upvote-container > button').attr("onClick",`upvoteComment(this, ${response.comment_id} , 'id_helper-comment')`);
      $(".comments-container").prepend(new_cmt);

    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest("{% url 'musicians:add-comment' %}", dict, $des.val(), success_func, failure_func);
  }

  function voteComment(button, comment_id, id_help_text, operation, url){

    var dict= {
      'val': comment_id,
      'band_id': {{band.pk}},
      'operation':operation,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      var down_up_cont = $(button).parent().parent();
      down_up_cont.find(".upvote-container > p").text(response.upvotes);
      down_up_cont.find(".downvote-container > p").text(response.downvotes);
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest(url, dict, comment_id, success_func, failure_func);
  }


  function voteBand(comment_id, id_help_text, operation, url){

    var dict= {
      'val': comment_id,
      'band_id': {{band.pk}},
      'operation':operation,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $("#id_upvotes_txt").text(response.upvotes);
      $("#id_downvotes_txt").text(response.downvotes);
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };

    sendAjaxRequest(url, dict, comment_id, success_func, failure_func);
  }

  function upvoteComment(button, comment_id, id_help_text){
    voteComment(button, comment_id, id_help_text, 'upvote', "{% url 'musicians:vote-comment' %}");
  }

  function downvoteComment(button, comment_id, id_help_text){
    voteComment(button, comment_id, id_help_text, 'downvote', "{% url 'musicians:vote-comment' %}");
  }


  function followOperation(id_help_text, operation){

    var dict= {
      'val': operation,
      'band_id': {{band.pk}},
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $("#id_followers-txt").text("followers: "+ response.followers);
      if(operation === "follow"){
        var b= $("#id_follows-btn");
        b.attr("onClick", "unfollowBand('id_help_text')").text("unfollow");
      }
      else {
        var b= $("#id_follows-btn");
        b.attr("onClick", "followBand('id_help_text')").text("follow");
      }
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };


    sendAjaxRequest("{% url 'musicians:update-follow' %}", dict, operation, success_func, failure_func);
  }


  function upvoteBand(id_help_text){
    voteBand('Not important', id_help_text, 'upvote', "{% url 'musicians:vote-band' %}");
  }

  function downvoteBand(id_help_text){
    voteBand('Not important', id_help_text, 'downvote', "{% url 'musicians:vote-band' %}");
  }


  function followBand(id_help_text){
    followOperation(id_help_text, 'follow');
  }

  function unfollowBand(id_help_text){
    followOperation(id_help_text, 'unfollow');
  }

  function updateUrl(id_selector, id_help_text, kind_url, operation, url) {
    $select=$(`#${id_selector}`);

    var dict= {
      'val': $select.val(),
      'operation': operation,
      'band_id': {{band.pk}},
      'kind_url': kind_url,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    };

    success_func = function (response){
      $(`#${id_help_text}`).text(response.value);
    };

    failure_func = function (response){
      $(`#${id_help_text}`).text(response.reason);
    };


    sendAjaxRequest(url, dict, $select.val(), success_func, failure_func);
  }


  function profileSoundCloud(id_selector, id_help_text, operation) {
    updateUrl(id_selector, id_help_text, 'profile', operation, "{% url 'musicians:update-soundcloud' %}");
  }

  function addProfileSoundCloud(id_selector, id_help_text) {
    profileSoundCloud(id_selector, id_help_text, 'add')
  }

  function updateProfileSoundCloud(id_selector, id_help_text) {
    profileSoundCloud(id_selector, id_help_text, 'update')
  }
  function deleteProfileSoundCloud(id_selector, id_help_text) {
    profileSoundCloud(id_selector, id_help_text, 'delete')
  }

  function playListSoundCloud(id_selector, id_help_text, operation) {
    updateUrl(id_selector, id_help_text, 'playlist', operation, "{% url 'musicians:update-soundcloud' %}");
  }

  function addPlayListSoundCloud(id_selector, id_help_text) {
    playListSoundCloud(id_selector, id_help_text, 'add')
  }

  function updatePlayListSoundCloud(id_selector, id_help_text) {
    playListSoundCloud(id_selector, id_help_text, 'update')
  }
  function deletePlayListSoundCloud(id_selector, id_help_text) {
    playListSoundCloud(id_selector, id_help_text, 'delete')
  }

  function profileYoutube(id_selector, id_help_text, operation) {
    updateUrl(id_selector, id_help_text, 'channel', operation, "{% url 'musicians:update-youtube' %}");
  }

  function playListYoutube(id_selector, id_help_text, operation) {
    updateUrl(id_selector, id_help_text, 'playlist', operation, "{% url 'musicians:update-youtube' %}");
  }

  function addProfileYoutube(id_selector, id_help_text) {
    profileYoutube(id_selector, id_help_text, 'add')
  }

  function updateProfileYoutube(id_selector, id_help_text) {
    profileYoutube(id_selector, id_help_text, 'update')
  }
  function deleteProfileYoutube(id_selector, id_help_text) {
    profileYoutube(id_selector, id_help_text, 'delete')
  }


  function addPlaylistYoutube(id_selector, id_help_text) {
    playListYoutube(id_selector, id_help_text, 'add')
  }

  function updatePlaylistYoutube(id_selector, id_help_text) {
    playListYoutube(id_selector, id_help_text, 'update')
  }
  function deletePlaylistYoutube(id_selector, id_help_text) {
    playListYoutube(id_selector, id_help_text, 'delete')
  }


  $(document).ready(function(){
    bindBackgroundPicListener();
    bindProfilePicListener();
    bindBandPicListener();
    bindVideoListener();

    {%if is_owner %}

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
      $helper= $(`#id_modalHelper`).text('');
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    {% endif %}
  });



  </script>
  {% endblock %}
