{% extends "gig/base.html" %}
{% load static %}
{% block title %}
Band Registration
{% endblock %}

{% block link %}
<script type="text/javascript" src="{% static 'util/utils.js' %}"> </script>
<link rel="stylesheet" href="{% static 'artists/register_profile.css' %}">
{% endblock %}


{% block body %}

<div class="container">
  {% if form.errors %}
  {% for field in form %}

  <div class="row info">
    <div class="col-12">
      {{field.erros}}
    </div>
  </div>
  {% endfor %}
  {%endif %}

  <form class="" id="band_form" action="{% url 'musicians:band-register' %}" method="post" enctype="multipart/form-data" onsubmit="return validateFields(event)">
    {% csrf_token %}

    <div class="row">
      <div class="col-12">
        <label for="id_name">Band Name</label>
      </div>
      <div class="col-12">
        <input id="id_band_name" type="text" name="name" placeholder="your band's name" value="{{form.name.value|default_if_none:'' }}">
      </div>
      <div class="col-12">
        <small id="id_helper_band_name"></small>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="id_name">description</label>
      </div>
      <div class="col-12">
        <textarea name="description" cols="40" rows="10" required="" id="id_description">{{form.description.value|default_if_none:'' }}</textarea>
      </div>
      <div class="col-12">
        <small id="id_helper_band_description"></small>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <small id="id_helper_genres"></small>
      </div>
      <div class="col-12">
        <label for="">Genres:</label>
      </div>
      <div class="col-12" id="id_genres-input-container">
        <input type="text" name="genre0" required="" id="id_genre0">
      </div>
    </div>
    <!-- Basic Container to populate search suggestions -->
    <div>
      <ul id="genre_suggestions"class="list-group">
      </ul>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="">Band Profile Pic:</label>
      </div>
      <div class="col-12" id="id_profile-pic-input">
        <div class="dropzone" id="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"> Drop Here !</div>
        <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic">
      </div>
    {% for  error in form.profile_pic.errors %}
    <div class="col-12">
      <small class="helper-text text-danger text-center text-left-sm"> {{error}}</small>
    </div>
    {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        <label for="">Background Pic:</label>
      </div>
      <div class="col-12" id="id_background-pic-input">
        <div class="dropzone" id="dropzone_2" ondrop="drop(event)" ondragover="allowDrop(event)"> Drop Here !</div>
        <input type="file" name="background_pic" accept="image/*" id="id_background_pic">
      </div>

      {% for  error in form.background_pic.errors %}
      <div class="col-12">
        <small class="helper-text text-danger text-center text-left-sm"> {{error}}</small>
      </div>
      {% endfor %}
      <div class="col-12">
        <small id="id_helper_background_pic"></small>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button type="submit" name="button">Register Band</button>
      </div>
    </div>
  </form>

</div>

<script type="text/javascript">


//Function meant to add an input field as soos as the user types somenthing on the inputfield with selector inp_select
function addInputField(inp_select, parent_select, name, id_prefix, class_name){

  $(inp_select).on('keyup', function(){

    if(!($(inp_select).next().is('input'))){
      number= $(parent_select).children().length;
      new_id=`${id_prefix}${number}`;
      tag=`<input type="text" name="${name}${number}" id="${new_id}" class="${class_name}">`;
      $(parent_select).append(tag);
    }
    else{
      console.log("Has already siblings nothing needs to happen");
    }
  });
}

function allowDrop(ev) {
  ev.preventDefault();
}



function drop(ev) {
  var id;
  if (ev.target.id == 'dropzone')
  {id = id_profile_pic}
  else {id = id_background_pic}
  ev.preventDefault();
  console.log(ev.target.id)
  id.files = ev.dataTransfer.files;
}



function populateSuggestions(response,selector){
  var suggests_container;
  var what;
  if ("genre" == selector.match(/genre/g)){
    suggests_container = $('#genre_suggestions');
    what = "genre"
  }
  else{
    suggests_container = $('#instrument_suggestions');
    what = "instrument"
  }


  suggests_container.empty();
  for(idx=0;idx < 5; idx++){
    var feature = response.suggestions[idx];
    var name=false;
    name=feature;

    if(name){
      var id= "suggest_id_"+ what + idx;
      var onc= "onclick=populateFromSuggestion('" + id + "','"+selector+"')";
      var el= "<li class='list-group-item' id=" + id+" "+onc+ ">" + name + "</li>";
      suggests_container.append(el);
    }
  }
}

function populateFromSuggestion(id_element,selector){
  var suggestion= $(`#${id_element}`).text();
  $(selector).val(suggestion);
}


/**
ajax to get suggestions for genres or instruments.
-Key is either 'genre' or 'instrument'. Otherwise the backend will not be able to provide suggestions!!!
-selector is the selector for the inputfield that needs suggestions
**/
function activeSuggestions(selector, delay_time, key){

  //delay is an importend function.Takes two argument: callback and time to wait before calling the callback event 'keyup' takes place. x Time is waited before the callback is called.
  //// TODO: maybe on key up whitout delay??
  $(selector).keyup(function(){
    delay(function(){
      var val = $(selector).val();
      if( val === ''){
        console.log("empty not send to backend");
        return;
      }

      $.ajax({type: "GET",
      url: "{% url 'artists:suggest-ajax' %}",
      data: { kind : key, value: val , csrfmiddlewaretoken: '{{csrf_token}}' },
      dataType: 'json',
      success: function(response){
        if(response.suggestions){
          //Next lines are temporary to test the suggestions results
          console.log(`suggestions : ${response.suggestions}`);
          $("#id_ajax").val(response.suggestions);
          $("#id_genre0").keyup(populateSuggestions(response ,selector));
        }}});
      },//end of first argument
      250);//the second argument for delay
    });
  }

  //A parent element that applies 'addInputField' and 'activeSuggestions' to th newly added inputfield
  function addListenerParent(parent_selector, first_child_selector, name, id_prefix, class_name){

    $(parent_selector).bind("DOMNodeInserted",function(){
      number= $(parent_selector).children().length - 1;
      id_input=`#${id_prefix}${number}`;
      addInputField(id_input, parent_selector, name, id_prefix, class_name);
      activeSuggestions(id_input, 1000, class_name);
    });

    addInputField(first_child_selector, parent_selector, name, id_prefix, class_name);
    activeSuggestions(first_child_selector, 1000, class_name);

  }

  $(function(){
    addListenerParent("#id_genres-input-container", "#id_genre0", "genre", "id_genre", "genre");

    //Counts the amount of genres submitted
    $("#band_form").submit(function(event){
      if(valid_band_name() && valid_profile_pic() && valid_background_pic() && valid_genre()){
        var amount_genres=$("#id_genres-input-container").children().length;
        $("#band_form").append(`<input type="hidden" name="amount_genres" value="${amount_genres}"/>`);
      }
      else {
        event.preventDefault();
      }});

  });



function valid_band_name(){
  var name=$("#id_band_name").val();
  var valid=true;
  if(!name){
    var valid=false;
    $("#id_helper_band_name").attr("class", "text-danger");
    $("#id_helper_band_name").text("This field is required");
  }
  else{
    $("#id_helper_band_name").text("");
  }
  return valid;
}

function valid_band_description(){
  var description=$("#id_description").val();
  var valid=true;
  if(!description){
    var valid=false;
    $("#id_helper_band_description").attr("class", "text-danger");
    $("#id_helper_band_description").text("This field is required");
  }
  else{
    $("#id_helper_band_description").text("");
  }
  return valid;
}




function validateFields(event){
  var v1=valid_band_name();
  var v2=valid_band_description();
  return v1 && v2;
}

</script>

{% endblock %}
