{% extends "gig/base.html" %}
{% load user_tags %}
{% load staticfiles %}

{% block title %}
Create an event
{% endblock %}

{% block link %}
<!-- Map -->
<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

<!--Links to geocoder-->
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

<!-- Links to local files-->
<script src='{% static "events/js/geocoder_util.js" %}'></script>

  <link rel="stylesheet" href="{% static 'events/css/create_event.css' %}">
{% endblock %}


{% block body %}

<div class="d-flex container justify-content-center ">

  <form id="id_form" class=""  action="{% url 'events:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.hidden_fields%}
    {{ field}}
    {% endfor %}

    <div>
      <ul id="address_suggestions" class="list-group" style="color:black;">
      </ul>
    </div>
       <div class="dropzone" id="dropzone" ondrop="drop(event)" ondragover="allowDrop(event)"> Drop Here !</div>


    {% for field in form.visible_fields %}

    <div class="row">
      <div class="col-12">
        <label for="{{field.auto_id}}">{{field.label}}</label>
      </div>
    </div>
    {% if  field.errors%}

    <div class="row">
      <div class="col-12">
        {{ field|add_attr:"class:border border-danger" }}
      </div>
    </div>


    {% else %}
    <div class="row">
      <div class="col-12">
        {{ field}}
      </div>
    </div>
    {% endif %}


    <div class="row">
      <div class="col-12">
        {% if  field.errors%}
        {% for  error in field.errors %}
        <small id="{{field.name}}Help" class="form-text text-danger"> {{error}}</small>
        {% endfor %}
        {% else %}
        <small id="{{field.name}}Help" class="form-text text-muted"> {{field.help_text}}.</small>
        {% endif %}
      </div>
    </div>



    {% endfor %}

    <button type="submit" name="button">Submit</button>
  </form>

</div>

<script type="text/javascript">


          function allowDrop(ev) {
  ev.preventDefault();
}



function drop(ev) {
  var id;
  if (ev.target.id == 'dropzone')
    {id = id_picture}
  else {id = id_background_pic}
  ev.preventDefault();
  console.log(ev.target.id)
  id.files = ev.dataTransfer.files;
}


createGeocoder()

function populateSuggestions(response){

  var suggests_container=$('#address_suggestions');
  suggests_container.empty();

  for(idx in response.results.features){
    var feature = response.results.features[idx];
    var name=false;
    if (typeof feature.matching_place_name !== 'undefined'){
      name=feature.matching_place_name;
    }
    else if (typeof feature.place_name !== 'undefined'){
      name=feature.place_name;
    }
    else{
    }

    if(name){
      var id= "suggest_id_"+ idx;
      var onc= "onclick=populateFromSuggestion('" + id + "')";
      var el= "<li class='list-group-item' id=" + id+" "+onc+ ">" + name + "</li>";
      suggests_container.append(el);
    }
  }
}

function populateFromSuggestion(id_element){
  var suggestion= $(`#${id_element}`).text();
  $("#id_address").val(suggestion);
}

$(document).ready(function(){
  $("#id_address").keyup(function(){
    queryAddress("id_address", function(err, response){populateSuggestions(response);});
  });
});


$( "#id_form" ).submit(function(event){

  var match_feature=queryAddressSync("id_address");
  var longitude= match_feature.geometry.coordinates[0]
  var latitude= match_feature.geometry.coordinates[1]
  $("#id_latitude").val(latitude);
  $("#id_longitude").val(longitude);
});

</script>

{% endblock %}
