{% extends "gig/base.html" %}
{% load cloudinary %}
{% load staticfiles %}
{% load user_tags %}

{% block title %}
{{event.name}}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'events/css/event.css' %}">
{% endblock %}

{% block body %}

<div class="container">
  <h1>{{band.name}} @{{event.name}} {% if user.is_authenticated %}<span class="badge badge-secondary">{{event.date| fancy_date}}</span> <button id="myBtn"> <i class="fas fa-share-square"></i></button>{% endif %}</h1>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="" action="" method="post">
        <div class="form-group">
          <label>Enter an email</label>
          <input id="id_emailShare" type="email" name="email" value="">
          <p id="id_modal-helper"></p>
        </div>
        <button type="button" name="button" onclick="shareEvent('id_emailShare', 'id_modal-helper')">Share event</button>
      </form>
    </div>
  </div>


  <h3>Participants: {{event.amount_participants}}</h3>
  {% if user.is_authenticated %}
  {% if is_participant %}
  <button class= "btn btn-sm" type="button" name="button" onClick="removeParticipant('id_participateHelp')">Disengage</button>
  {% else %}
  <button class= "btn btn-sm" type="button" name="button" onClick="addParticipant('id_participateHelp')">Participate</button>
  {% endif %}
  <p id="id_participateHelp"></p>
  {% endif %}
  {% if is_owner %}
  <div class="container">
    <a href="{% url 'events:edit' event_id=event.pk%}">Edit the event</a>
  </div>
  {% endif %}
  <div class="container">
    <a href="{% url 'events:details' event_id=event.pk%}">Show details</a>
  </div>

  <div class="container">
    {% cloudinary event.picture.public_id width=100 height=150 crop="fill"%}
  </div>
  <div class="container">
    <p>{{event.description}}</p>
  </div>
  <br>
  <div class="container">
    {% cloudinary band.profile_pic.public_id width=100 height=150 crop="fill"%}
  </div>
  <div class="container">
    <a href="{% url 'musicians:band-profile' profile_id=band.pk%}">{{band.name}}</a>
  </div>

  <div class="row">
    <h2>Comments</h2>
  </div>

  <div class="row request-login-singup-container">
    {% if user.is_authenticated %}
    <textarea id="id_comment-input" name="name" rows="3" cols="50">Say somenthing</textarea>
    <button type="button" name="button" onClick="addComment('id_comment-input', 'id_helper-comment')">Save comment</button>
    <p id="id_helper-comment"></p>
    {% else %}
    <p><a href="{% url 'users:login' %}">Login</a> or <a href="{% url 'users:signup' %}">sign up</a> to comment</p>
    {% endif %}
  </div>

  <div class="comments-container">
    {% for com in comments %}
    <div class="comment-container">
      <br>
      <div class="row com-container">
        <div class="row">
          <div class="col-12 col-md-3 upvote-container">
            {% if user.is_authenticated %}
            <button clas='upvote-btn' type="button" name="button" onClick="upvoteComment(this, {{com.pk}}, 'id_helper-comment')">Upvote</button>
            {% else %}
            Upvote:
            {% endif %}
            <p>{{com.upvotes}}</p>
          </div>
          <div class="col-12 col-md-3 downvote-container">
            {% if user.is_authenticated %}
            <button clas='downvote-btn' type="button" name="button" onClick="downvoteComment(this, {{com.pk}}, 'id_helper-comment')">Downvote</button>
            {% else %}
            Downvote:
            {% endif %}
            <p>{{com.downvotes}}</p>
          </div>
          <div class="col-12 col-md-3 commentator-container">
            <h4>{{com.commentator.first_name}} {{com.commentator.last_name}}</h4>
          </div>
          <div class="col-12 col-md-3 comment-date-container">
            <p>{{com.date |fancy_date}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 comment-text-container">
            <p>{{com.comment}}</p>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}

    <div style="display:none;" id="com_example" class="comment-container">
      <br>
      <div class="row com-container">
        <div class="row">
          <div class="col-12 col-md-3 upvote-container">
            <button clas='upvote-btn' type="button" name="button" onClick="">Upvote</button>
            <p>0</p>
          </div>
          <div class="col-12 col-md-3 downvote-container">
            <button clas='downvote-btn' type="button" name="button" onClick="">Downvote</button>
            <p>0</p>
          </div>
          <div class="col-12 col-md-3 commentator-container">
            <h4></h4>
          </div>
          <div class="col-12 col-md-3 comment-date-container">
            <p></p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 comment-text-container">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">


  function sendAjaxRequest(url_l, dict, valToSend, success_func, failure_func){
    if (valToSend != ''){
      $.ajax({
        type: "POST",
        url: url_l,
        data: dict,
        dataType: 'json',
        success: function(response){

          if(response.is_executed){
            success_func(response);
          }
          else{
            failure_func(response);
          }

        }});

      }else {
        alert("AjaxRequest wasn't send. The value involved in the update is an empty string ");
      }
    }

    function addComment(id_selector, id_help_text){
      $des=$(`#${id_selector}`);
      var dict= {
        'val': $des.val(),
        'band_id': {{band.pk}},
        'event_id': {{event.pk}},
        csrfmiddlewaretoken: '{{ csrf_token }}',
      };



      success_func = function (response){
        var new_cmt =$("#com_example").clone();
        new_cmt.removeAttr("id");
        new_cmt.css("display", 'block');

        new_cmt.find('.commentator-container > h4').text(response.commentator);
        new_cmt.find('.comment-text-container > p').text(response.comment);
        new_cmt.find('.comment-date-container > p').text(response.date);

        new_cmt.find('.downvote-container > p').text(response.downvotes);
        new_cmt.find('.downvote-container > button').attr("onClick",`downvoteComment(this, ${response.comment_id} , 'id_helper-comment')`);
        new_cmt.find('.upvote-container > p').text(response.upvotes);
        new_cmt.find('.upvote-container > button').attr("onClick",`upvoteComment(this, ${response.comment_id} , 'id_helper-comment')`);
        $(".comments-container").prepend(new_cmt);
      }

      failure_func = function (response){
        $(`#${id_help_text}`).text(response.reason);
      };

      sendAjaxRequest("{% url 'events:add-comment' %}", dict, $des.val(), success_func, failure_func);
    }

    function vote(elem, comment_id, id_help_text, operation){

      var dict= {
        'val': comment_id,
        'band_id': {{band.pk}},
        'event_id': {{event.pk}},
        'operation':operation,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      };

      success_func = function (response){
        var down_up_cont = $(elem).parent().parent();
        down_up_cont.find(".upvote-container > p").text(response.upvotes);
        down_up_cont.find(".downvote-container > p").text(response.downvotes);
      };

      failure_func = function (response){
        $(`#${id_help_text}`).text(response.reason);
      };

      sendAjaxRequest("{% url 'events:vote-comment' %}", dict, comment_id, success_func, failure_func);
    }

    function upvoteComment(elem, comment_id, id_help_text){
      vote(elem, comment_id, id_help_text, 'upvote');
    }

    function downvoteComment(elem, comment_id, id_help_text){
      vote(elem, comment_id, id_help_text, 'downvote');
    }


    function update_participation(id_help_text, operation){

      var dict= {
        'event_id': {{event.pk}},
        'operation':operation,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      };

      success_func = function (response){
        $(`#${id_help_text}`).text(`New participants ${response.participants}`);
      };

      failure_func = function (response){
        $(`#${id_help_text}`).text(response.reason);
      };

      sendAjaxRequest("{% url 'events:update-participation' %}", dict, "comment_id", success_func, failure_func);
    }

    function addParticipant(id_help_text){
      update_participation(id_help_text, 'participate');
    }

    function removeParticipant(id_help_text){
      update_participation(id_help_text, 'disengage');
    }

    function shareEvent(id_input, id_help_text){
      $select=$(`#${id_input}`);

      var dict= {
        'event_id': {{event.pk}},
        'val': $select.val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
      };

      success_func = function (response){
        $(`#${id_help_text}`).text(`Event shared successfully`);
      };

      failure_func = function (response){
        $(`#${id_help_text}`).text(response.reason);
      };

      sendAjaxRequest("{% url 'events:share-event' %}", dict, $select.val(), success_func, failure_func);
    }


    {%if is_owner%}
    function update_location(long, lat) {

      var dict= {
        'event_id': {{event.pk}},
        'lat': lat,
        'long': long,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      };

      success_func = function (response){
        console.log(`location changed successfully`);
      };

      failure_func = function (response){
        console.log(response.reason);
      };

      sendAjaxRequest("{% url 'events:update-location'%}", dict, "val", success_func, failure_func);
    }


    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    {%endif%}
    </script>
    {% endblock %}
