:root{
	--primary-color:#b3b3b3;
	--secondary-color:#007bff;
	--tertiary-color:#343a40;
	--text-color-default:white;
}

body{
	background-color:var(--primary-color);
	color:var(--text-color-default);
}

h1, h4{
	color: var(--secondary-color);
	
}

.btn{
	background-color:var(--secondary-color);
	color:var(--text-color-default);	
}

