.carousel{
	max-height:600px;
	overflow:hidden;
}

.carousel-item img{
	min-width:100%;
	height:auto;
}

.carousel-inner{
	width:100%;
	max-height: 400px;
}

.carousel-caption {
	position: absolute;
	top:0px;
	text-shadow: 0px 0px 15px black;
}

.jumbotron{
	border-style:solid;
	border-width:medium;
	border-color:var(--secondary-color);
	background-color:var(--tertiary-color);
	color: var(--text-color-default);
}

div > h4{
	color:var(--secondary-color);
}

/* scrollbar width */
div::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
 
/* scrollbar Handle */
div::-webkit-scrollbar-thumb {
	background: var(--primary-color); 
	border-radius: 2px;
}

div.d-flex{
	overflow-x: scroll; 
}

/*event cards*/
.card{
	background-color:var(--tertiary-color);
	color:var(--text-color-alt);
	border-style:solid;
	border-width:3px;
	border-color:var(--secondary-color);
	font-weight:bold;
	max-width:11rem;
}

@media only screen and (min-width: 992px){

	.row > .col-lg-2{
		background-color:var(--tertiary-color);
		border-style:solid;
		border-width:3px;
		border-color:var(--secondary-color);
		color: var(--text-color-default);
		height: 150vh;
		overflow-y:scroll;
	}
	
	.row > .upcoming{
		order:-1;
	}
	
	.col-lg-2 .vertical-on-lg{
		flex-direction:column;
	}
	
	.col-lg-2 .card{
		min-width:inherit;
	}
	
	.row > .recommended{
		order:1;
	}
}