{% extends "gig/base.html" %}
{% load cloudinary %}
{% load staticfiles %}

{% block title %}
{% if artist.stage_name %}
Profile {{artist.stage_name}}
{% else %}
Profile {{artist.user.first_name}} {{artist.user.last_name}}
{% endif %}
{% endblock %}

{% block link %}
{% cloudinary_includes %}
{% cloudinary_js_config %}
{% endblock %}
{% block body %}


<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Artist profile for {{user.first_name}} {{user.last_name}}<h1>
    </div>
  </div>
</div>

<div class="container">
  {# <form class="" action="index.html" method="post"> #}
  {# {% csrf_token %} #}

  <div class="row">
    <div class="col-12">
      <label for="id_stage_name">
        <h2>Artist name:</h2>
      </label>
    </div>
    {% if is_owner %}
    <div class="col-12">
      <input id="id_stage_name" type="text" name="stage_name" value="{{artist.stage_name}}">
    </div>
    <div class="col-12">
      <button type="button" name="button" onClick="updateStageName('id_stage_name')">Save</button>
      <span id ="id_helper-stage-name"></span>
    </div>
    {% else %}
    <div class="col-12">
      <input id="id_stage_name" type="text" name="stage_name" value="{{artist.stage_name}}" readonly>
    </div>
    {% endif %}

  </div>

  <div class="row">
    <div class="col-12">
      <label for="id_biography"><h2>Biography:</h2></label>
    </div>
    <div class="col-12">
      {% if artist.biography %}
      <textarea name="biography" cols="40" rows="10" id="id_biography">{{artist.biography}}</textarea>
      {% else %}
      {% if is_owner %}
      <p>You still didn't specify your biography. Fill text area in to complete your artistprofile</p>
      <textarea name="biography" cols="40" rows="10" id="id_biography">Tell us somenthing about you..</textarea>
      {% else %}
      This artist didn't specify any description
      {% endif %}
      {%endif%}
    </div>
  </div>
  {% if is_owner %}
  <div class="row">
    <div class="col-12">
      <button type="button" name="button" onClick="updateBiography('id_biography')">Save</button>
      <span id ="id_helper-biography"></span>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <label for="id_instruments"><h2>Instruments:</h2></label>
    </div>
  </div>

  {% if artist.instruments%}
  {% for instrument in artist.instruments %}
  <div class="row">
    <div class="col-12">
      <input type="text" name="instrument0" id="id_instrument0" class="instrument" value="{{instrument}}" readonly>
      {% if is_owner %}
      <button type="button" name="button" onClick="removeinstrument('id_instrument0')">Delete</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-12">
      {% if is_owner %}
      <p>You didn't specify any instruments you master. Add some to complete your registration</p>
      {% else %}
      <p>The user didn't specify the instruments he/she can play </p>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if is_owner %}
  <div class="row">
    <div class="col-12">
      <input type="text" name="instrument0" id="id_add_instrument" class="instrument" value="e.g. Piano">
      <button type="button" name="button" onClick="addinstrument('id_add_instrument')">Add</button>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <label for="id_genres"><h2>Genres:</h2></label>
    </div>
  </div>

  {% if artist.genres %}
  {% for genre in artist.genres %}
  <div class="row">
    <div id="genre-init-group" class="col-12">
	  <input type="text" name="genre-init" id="genre-init" class="genre" value="{{genre}}" readonly>
	  {% if is_owner %}
	  <button type="button" name="button" onClick="removegenre('genre-init')">Delete</button>
	  {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="row">
    <div class="col-12">
      {% if is_owner %}
      <p>You didn't specify any genres you play. Add some to complete your registration</p>
      {% else %}
      <p>The user didn't specify the genres he/she can play </p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if is_owner %}
  <div class="row">
    <div class="col-12">
      <input type="text" name="genre-empty" id="genre-empty" class="genre" value="e.g. Blues">
      <button type="button" name="button" onClick="addgenre('genre-empty')">Add</button>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12">
      <label for="id_idols"><h2>Idols:</h2></label>
    </div>
  </div>
  {% if artist.idols%}
  {% for idol in artist.idols %}
  <div class="row">
    <div class="col-12">
      <input type="text" name="genre0" id="id_idol0" class="genre" value="{{idol}}" readonly>
      {% if is_owner %}
      <button type="button" name="button" onClick="removeidol('id_idol0')">Delete</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  {% if is_owner %}
  <div class="row">
    <div class="col-12">
      <p>You didn't specify any idol you have.</p>
    </div>
  </div>
  {% else %}
  <p>The owner didn't add any idol</p>
  {% endif %}
  {% endif %}

  {% if is_owner %}
  <div class="row">
    <div class="col-12">
      <input type="text" name="genre0" id="id_add_idol" class="genre" value="e.g. Jimi Hendrix">
      <button type="button" name="button" onClick="addidol('id_add_idol')">Add</button>
    </div>
  </div>
  {% endif %}


  {# </form> #}

  <div class="row">
    <div class="col-12">
      <p><h2>profile pic</h2></p>
    </div>
    <div class="col-12">
      {# retrieve picture from cloudinary {% cloudinary profile_pic_id %} #}
      {% cloudinary profile_pic_id class="img-fluid" width=100 height=150 crop="fill" id="id_image_profile"%}
    </div>
    {% if  is_owner%}
    <div class="col-12">
      {# <form action="{% url 'artists:update-profile-pic' %}" method="post" enctype="multipart/form-data"> #}
      {# {% csrf_token %} #}
      {{ direct_profile_pic_form }}
      {# altenatively, could use: {% cloudinary_direct_upload_field request=request %} #}
      <div class="helper-progress">
        <p id="id_progress_profile"></p>
      </div>
      {# </form> #}
    </div>
    {% endif %}
  </div>

  <div id='direct_upload_background'>
    <form class="" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row">
        <div class="col-12">
          <p><h2>Background pic</h2></p>
        </div>
        <div class="col-12">
          {# retrieve picture from cloudinary {% cloudinary profile_pic_id %} #}
          {% cloudinary bg_pic_id class="img-fluid" width=500 height=300 id="id_image_background"%}
        </div>
        {% if  is_owner%}
        <div class="col-12">
          {# <form action="{% url 'artists:update-profile-pic' %}" method="post" enctype="multipart/form-data"> #}
          {# {% csrf_token %} #}
          {{ direct_bg_pic_form }}
          {# altenatively, could use: {% cloudinary_direct_upload_field request=request %} #}
          <div class="helper-progress">
            <p id="id_progress_background"></p>
          </div>
          {# </form> #}
        </div>
        {% endif %}
      </div>
    </form>
  </div>

  {% if linups %}

  <div class="bands-container">
    <h2>Bands</h2>
    {% for membership in linups %}
    <div class="row">
      <div class="col-6">
        <h4><a href="{% url 'musicians:band-profile' profile_id=membership.lineup.band.pk%}"> {{membership.lineup.band.name}}</a></h4>
        {% cloudinary membership.lineup.band.profile_pic.public_id width=500 height=300 %}
        <p>Role: {{membership.role}}</p>
      </div>
    </div>
    {% endfor %}
  {% if  is_owner%}
    <div class="container">
      <a href="{% url 'musicians:band-register' %}">You wanna register anoter band?</a>
    </div>

    {% endif %}
  </div>
  {% else %}
  {% if  is_owner%}
  <p>You are not involved in any band. <a href="{% url 'musicians:band-register' %}">You wanna register your band?</a></p>

  {% else %}
  <p>The artist is not involved in any band</p>
  {% endif %}
  {% endif %}
</div>

<script type="text/javascript">

function sendAjaxRequest(url_l, dict, valToSend, succes_complete, failure_complete){
  if (valToSend != ''){
    // alert(`sendAjaxRequest with value ${valToSend}`);
    $.ajax({
      type: "POST",
      url: url_l,
      data: dict,
      dataType: 'json',
      success: function(response){

        if(response.is_executed){
          succes_complete(response);
        }
        else{
          failure_complete(response);
        }

      }});
    }else {
      alert("AjaxRequest wasn't sent. The value involved in the update is an empty string ");
    }
  }

  function updateGenreInstrumentIdol(id_selector, type, operation) {
    var val = $(`#${id_selector}`).val();
    var dict= { 'to_update': type,
    'val': val,
    'operation': operation,
    csrfmiddlewaretoken: '{{ csrf_token }}',
  };

  succes_complete = function (response){
  var input_group = $(`#${id_selector}`).parent().parent();
  var val2 = val.replace(/\s+/g, '');
  var new_element1 = "<div class=\"row\"><div id=\""+type+"-"+val2+"-group\" class=\"col-12\"><input type=\"text\" name=\""+type+"-"+val2+"\" id=\""+type+"-"+val2+"\" class=\""+type+"\" value=\""+val+"\" readonly> <button type=\"button\" name=\"button\" onClick=\"remove"+type+"('"+type+"-"+val2+"')\">Delete</button></div></div>";
  var new_element2 = "<div class=\"row\"><div class=\"col-12\"><input type=\"text\" name=\""+type+"-empty\" id=\""+type+"-empty\" class=\""+type+"\" value=\"add another\"> <button type=\"button\" name=\"button\" onClick=\"add"+type+"('"+type+"-empty')\">Add</button></div></div>";
	if(operation == "add"){
		input_group.before(new_element1, new_element2);
		input_group.remove();
	}else if(operation == "remove"){
		input_group.remove();
	};
  };
  failure_complete = function (response){
    alert(`backend couldn't perform the requested operation reason: ${response.reason}`)
  };

  sendAjaxRequest("{% url 'artists:update-genres-idols-insts' %}", dict, val, succes_complete, failure_complete);

}

function removegenre(id_selector){
  updateGenreInstrumentIdol(id_selector, "genre", "remove");
}

function addgenre(id_selector) {
  updateGenreInstrumentIdol(id_selector , "genre", "add");
}


function removeidol(id_selector){
  updateGenreInstrumentIdol(id_selector , "idol", "remove");
}

function addidol(id_selector) {
  updateGenreInstrumentIdol(id_selector , "idol", "add");
}

function removeinstrument(id_selector){
  updateGenreInstrumentIdol(id_selector , "instrument", "remove");
}

function addinstrument(id_selector) {
  updateGenreInstrumentIdol(id_selector , "instrument", "add");
}

function updateStageName(id_selector) {
  var val = $(`#${id_selector}`).val();
  var dict= { 'val': val, csrfmiddlewaretoken: '{{ csrf_token }}',};

  succes_complete = function (response){
    var val = $(`#${id_selector}`).val(response.val);
    var span_helper=$("#id_helper-stage-name");
    span_helper.text('Artist name succesfuly updated');
    span_helper.removeAttr('class');
    span_helper.attr('class', 'text-success');
  };
  failure_complete = function (response){
    var span_helper=$("#id_helper-stage-name");
    span_helper.text(response.reason);
    span_helper.removeAttr('class');
    span_helper.attr('class', 'text-danger');
  };

  sendAjaxRequest("{% url 'artists:update-stage-name' %}", dict, val, succes_complete, failure_complete);
}


function updateBiography(id_selector) {
  var val = $(`#${id_selector}`).val();
  var dict= { 'val': val, csrfmiddlewaretoken: '{{ csrf_token }}',};
  succes_complete = function (response){
    $(`#${id_selector}`).val(response.val);

    var span_helper=$("#id_helper-biography");
    span_helper.text('Briography succesfuly updated');
    span_helper.removeAttr('class');
    span_helper.attr('class', 'text-success');
  };
  failure_complete = function (response){
    var span_helper=$("#id_helper-biography");
    span_helper.text(response.reason);
    span_helper.removeAttr('class');
    span_helper.attr('class', 'text-daner');
  };
  sendAjaxRequest("{% url 'artists:update-biography' %}", dict, val, succes_complete, failure_complete);
}

$(function (){
  // $('#id_new_profile_pic').bind('fileuploadstart', function(e, data){
  //   console.log("start upload file2");
  // });

  $('#id_new_profile_pic').cloudinary_fileupload(
    {
      // dropZone: '#direct_upload',
      start: function () {
        $('#id_progress_profile').text("Start upload");
      },
      progress: function () {
        $('#id_progress_profile').text("Picture being upload");
      },
    }
  )
  .on('cloudinarydone', function (e, data) {
    $('#id_progress_profile').text('Updating backend...');

    var val='profile';
    var dict=data.result;
    dict['csrfmiddlewaretoken']= '{{ csrf_token }}';
    dict['val']=val;

    sendAjaxRequest("{% url 'artists:update-pic' %}", dict, val, function(response){
      $("#id_image_profile").attr("src", data.result.url);
      var helper=$('#id_progress_profile');
      helper.text('Profile Picture updated');
      helper.removeAttr('class');
      helper.attr('class', 'text-success');

    }, function(response){
      var helper=$('#id_progress_profile');
      helper.text(response.reason);
      helper.removeAttr('class');
      helper.attr('class', 'text-danger');
    });
  });


  $('#id_new_background_pic').cloudinary_fileupload(
    {
      // dropZone: '#direct_upload',
      start: function () {
        $('#id_progress_background').text("Start upload");
      },
      progress: function () {
        $('#id_progress_background').text("Picture being upload");
      },
    }
  )
  .on('cloudinarydone', function (e, data) {
    $('#id_progress_background').text('Updating backend...');

    var val='background_pic';
    var dict=data.result;
    dict['csrfmiddlewaretoken']= '{{ csrf_token }}';
    dict['val']=val;

    sendAjaxRequest("{% url 'artists:update-pic' %}", dict, val, function(response){
      $("#id_image_background").attr("src", data.result.url);
      var helper=$('#id_progress_background');
      helper.text('Background Picture updated');
      helper.removeAttr('class');
      helper.attr('class', 'text-success');

    },function(response){
      var helper=$('#id_progress_background');
      helper.text(response.reason);
      helper.removeAttr('class');
      helper.attr('class', 'text-danger');
    });
  });

});
</script>

{% endblock %}
