{% extends "gig/base.html" %}
{% load static %}
{% load cloudinary %}
{% load user_tags %}

{% block title %}
Following
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'gig/css/home.css' %}">
{% endblock %}

{% block body %}


<div class="container">
	{% if not bands%}
	<div class="row following mb-4 mx-auto">
		<h1>Bands you follow</h1>
	</div>
	<div class="row following mb-4 mx-auto">
		<p>You currently don't follow any bands</p>
	</div>
	{% else %}
	<div class="row following mb-4 mx-auto">
		<h1>Bands you follow</h1>
	</div>
	<div class="row suggested d-flex justify-content-center">
		<div class="card-columns">
			{% for band in bands %}
			<div class="card text-center" id='band_card_{{band.pk}}' long='{{event.longitude}}' lat='{{event.latitude}}'>
				<div class="card-header">
					<a href="{% url 'musicians:band-profile' profile_id=band.pk%}">{{band.name}}</a>
				</div>
				{% cloudinary band.profile_pic.public_id width=300 height=300 class="img-fluid" gravity="faces:auto" crop="thumb"%}
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">{{band.description}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	{% endif %}
	</div>
</div>



{% endblock %}
