{% extends "gig/base.html" %}
{% load static  %}
{% block title %}
Reset Password Request
{% endblock %}


{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'users/reset_psw.css' %}">
{% endblock %}

{% block body %}

<div class="form-container mx-auto">

  <div class="row">
    <div class="col-12">
      <h2>Reset Password request</h2>
    </div>
  </div>

  <form class="" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_email">Email address</label>
      <input  type="email" name="email"  maxlength="254" autofocus required id="id_email" class="form-control" aria-describedby="emailHelpBlock" placeholder="Enter email">
      <small  class="form-text text-muted" id="emailHelpBlock">
        Email used during registration into GigForMusicians.
      </small>
    </div>

    <button class="btn btn-warning"type="submit"> Send email</button>
  </form>


</div>

 {% endblock %}
