{% extends "gig/base.html" %}
{% load user_tags %}

{% block title %}
Update email
{% endblock %}

{% block body%}


<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Update email</h2>
    </div>
  </div>

  <form class="" action="{% url 'users:update-email' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="row">
      <div class="col-12">
        <label for="{{field.auto_id}}">{{field.label}}</label>
      </div>
    </div>

    {% if  field.errors%}
    <div class="row">
      <div class="col-12">
        {{ field|add_attr:"class:border border-danger" }}
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-12">
        {{field}}
      </div>
    </div>
    {%endif %}

    <div class="row">
      <div class="col-12">
        {% if  field.errors%}
        {% for  error in field.errors %}
        <small id="{{field.name}}Help" class="form-text text-danger"> {{error}}</small>
        {% endfor %}
        {% else %}
        <small id="{{field.name}}Help" class="form-text text-muted"> {{field.help_text}}.</small>
        {% endif %}
      </div>
    </div>



    {%endfor %}
    <button type="submit" name="button">Submit</button>

  </form>
</div>
{% endblock %}
